RewriteEngine On

#condicion permite solicitudes a archivos, carpetas que no sean .php y no solo al index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#redirige a index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]


